<!DOCTYPE html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>GYM</title>

        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/jumbotron-narrow.css' />
        <!--Arreglar  jquery-ui.css, no lo muestra correctamente con archivo -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <!--script rel='stylesheet' href='stylesheets/jquery-ui.min.css'></script-->

        <script src="angular/bin/angular.js"></script>
        <script src="angular/bin/angular-route.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div ng-view=""></div>
        </div>


        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="angular/src/app.js"></script>
        <script src="angular/bin/angular-messages.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="angular/src/nuevoController.js"></script>
        <script src="angular/src/editarController.js"></script>
        <script src="angular/src/todosController.js"></script>
        <script src="angular/src/proxy.js"></script>
        <script src="angular/src/proxyFactory.js"></script>
    </body>
</html>
