<div class="jumbotron" ng-controller="TodosController as ctrl">
  <h1>Pagos gym</h1>
  <h4><small>Nota : El cliente debe pagar un día después del la Fv o antes.</br>
  Fv : fecha de vencimiento, último día pagado que se calcula con base en el pago anterior.</br>
  Dpv : Días para vencimiento, días que faltan para la Fv sin contar las horas transcurridas durante el día de hoy.</small></h4>
    <table class="table table-sm">
        <thead>
            <tr>
                <th id="tituloTable">#</th>
                <th>Nombre</th>
                <th>Agregar pago</th>
                <th id="tituloTable">Estatus</th>
                <th id="tituloTable">fv</th>
                <th id="tituloTable">dpv</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="cliente in ctrl.clientes">
            <tr>
                <th scope="row">{{$index + 1}}</th>
                <td>{{cliente.nombre}}</td>
                <td><a href="#/editar/{{cliente._id}}">pagar</a></td>
                <td style="background: {{ctrl.getColor(ctrl.getDiasParaVencimiento(cliente.fechaDeVencimiento))}} "> </td>
                <td id="vencimientoTodos">{{ctrl.getDateInHumanReadable(cliente.fechaDeVencimiento)}}</td>
                <td id="vencimientoTodos">{{ctrl.getDiasParaVencimiento(cliente.fechaDeVencimiento)}}</td>
                <td>
                    <a href="#" ng-click="ctrl.delete(cliente._id)">Borrar</a>
                </td>
            </tr>

        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="#/nuevo">
        <span class="glyphicon glyphicon-plus"></span> Agregar cliente nuevo
    </a>
</div>

<table class="table table-sm">
        <thead>
            <tr>
                <th id="vencimientoTodos"> Pago vigente dpv >= 4 </th>
                <th id="vencimientoTodos"> Pago por vencer dpv <= 3 </th>
                <th id="vencimientoTodos"> Pago vencido dpv < 0 </th>

                <!--th style="background: '#C9302C' "></th>
                <th style="background: '#449D44' "></th>
                <th style="background: '#EC971F' "></th-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background: #449D44 "></td>
                <td style="background: #EC971F "></td>
                <td style="background: #C9302C "></td>

                <!--td> Días de vencido </td>
                <td> Días de membrecía </td>
                <td> Días antes de vencer </td-->
            </tr>
        </tbody>
    </table>
