<div class="jumbotron" ng-controller="TodosController as ctrl">
  <h1>Clientes del gym</h1>
  <p>Click sobre el nombre del cliente para agregar un pago.</p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th id="tituloTable">#</th>
                <th>Nombre</th>
                <th id="tituloTable">Estatus</th>
                <th id="tituloTable">Fecha de vencimiento</th>
                <th id="tituloTable">días para vencimiento + hoy</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="cliente in ctrl.clientes">
            <tr>
                <th scope="row">{{$index + 1}}</th>
                <td><a href="#/editar/{{cliente._id}}">{{cliente.nombre}}</a></td>
                <td style="background: {{ctrl.getColor(ctrl.getDiasParaVencimiento(cliente.fechaDeVencimiento))}} "> </td>
                <td id="vencimientoTodos">{{ctrl.getDateInHumanReadable(cliente.fechaDeVencimiento)}}</td>
                <td id="vencimientoTodos">{{ctrl.getDiasParaVencimiento(cliente.fechaDeVencimiento)}}</td>
                <td>
                    <a href="#" ng-click="ctrl.delete(cliente._id)">Borrar</a>
                </td>
            </tr>

        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="#/nuevo">
        <span class="glyphicon glyphicon-plus"></span> Agregar cliente nuevo
    </a>
</div>

<table class="table table-sm">
        <thead>
            <tr>
                <th id="vencimientoTodos"> Pago vencido </th>
                <th id="vencimientoTodos"> Pago vigente </th>
                <th id="vencimientoTodos"> Pago a punto de vencer </th>
                <!--th style="background: '#C9302C' "></th>
                <th style="background: '#449D44' "></th>
                <th style="background: '#EC971F' "></th-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background: #C9302C "></td>
                <td style="background: #449D44 "></td>
                <td style="background: #EC971F "></td>
                <!--td> Días de vencido </td>
                <td> Días de membrecía </td>
                <td> Días antes de vencer </td-->
            </tr>
        </tbody>
    </table>
