<div class="jumbotron" ng-controller="TodosController as ctrl">
  <h1>Clientes del gym</h1>
  <p>Click sobre el nombre del cliente para agregar un pago.</p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Estatus</th>
                <th>Fecha de vencimiento</th>
                <th>Vencimiento en días</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="cliente in ctrl.clientes">
            <tr>
                <th scope="row">{{$index + 1}}</th>
                <td><a href="#/editar/{{cliente._id}}">{{cliente.nombre}}</a></td>
                <td style="color: red;">{{ctrl.color}}{{ctrl.getDiasParaVencimiento(cliente.fechaDeVencimiento) < 0 ? "DEUDA" : ""}}</td>
                <td>{{ctrl.getDateInHumanReadable(cliente.fechaDeVencimiento)}}</td>
                <td>{{ctrl.getDiasParaVencimiento(cliente.fechaDeVencimiento)}}</td>
                <td>
                    <a href="#" ng-click="ctrl.delete(cliente._id)">Borrar</a>
                </td>
            </tr>

        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="#/nuevo">
        <span class="glyphicon glyphicon-plus"></span> Agregar cliente nuevo
    </a>
</div>
